.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-weight: 400;
}

.flexbox {
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.mole {
    background-color: red;
}